*{
  margin:0;
  padding: 0;
}

body{
  font-family: helvetica, arial;
  font-size: 13px;
  color: #333;
}

header{
  height: 125px;
  background-color: #262626;
  padding: 5px 0;
}

footer{
  height: 50px;
  width: 100%;
  background-color: #B2DBBF;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}

#conteudo{
  padding: 50px 0;
}

#menu{
  float: right;
  padding: 50px 0;
}

#menu a{
  text-decoration: none;
  padding: 20px 10px;
  font-size: 16px;
  color: #B2DBBF;
  opacity:0.5;
}

#menu a:hover{
   box-shadow: inset 0 0 0 5px #B2DBBF;
}
